@use "config" as *;

.searchbar {
  margin-bottom: 1.9rem;
  padding-right: 3.6rem;
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
  padding-top: 6.4rem;
  background: $color-dblue;
  position: sticky;
  top: 0;
  z-index: 5;
  button {
    flex-shrink: 0;
    height: 3.2rem;
    font-size: 3.2rem;
    .icon {
      display: inline-flex;
    }
  }
  input {
    flex-shrink: 0;
    flex-grow: 1;
    caret-color: $color-red;
    padding-bottom: 1.5rem;
    color: $color-white;
    border-bottom: 1px solid transparent;
    @extend %t-heading-m;
    &::placeholder {
      opacity: 0.4979;
    }
    &:focus,
    &:focus-within {
      outline: 0;
      border-bottom: 1px solid $color-gblue;
    }
  }
}

@media all and (max-width: 810px) {
  .searchbar {
    padding-top: 0;
    padding-right: 0;
    position: unset;
    top: unset;
  }
}

@media all and (max-width: 480px) {
  .searchbar {
    gap: 1.6rem;
    margin-bottom: 1.4rem;
    button {
      font-size: 2.4rem;
      height: 2.4rem;
    }
    input {
      padding-bottom: 1.2rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
}
