.search-results {
  padding-right: 3.6rem;
  .movies {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    gap: 3.2rem 4rem;
  }
}

@media all and (max-width: 810px) {
  .search-results {
    padding-right: 0;
    .movies {
      grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
      margin-top: 2.4rem;
      gap: 2.4rem 2.9rem;
    }
  }
}

@media all and (max-width: 530px) {
  .search-results {
    .movies {
      grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
    }
  }
}

@media all and (max-width: 480px) {
  .search-results {
    .movies {
      grid-template-columns: repeat(auto-fill, minmax(16.4rem, 1fr));
      gap: 1.6rem 1.5rem;
    }
  }
}
