<app-searchbar
  class="search"
  placeholder="Search for movies or TV series"
  (searchData)="searchData($event)"
></app-searchbar>

<ng-container *ngIf="!searchTerm">
  <section class="trending">
    <app-content-heading
      heading="Trending"
      class="heading"
    ></app-content-heading>
    <div
      class="slider-container"
      #sliderContainer
      (mouseleave)="onMouseLeave($event)"
      (mouseup)="onMouseUp($event)"
      (mousedown)="onMouseDown($event)"
      (mouseenter)="onMouseEnter($event)"
      (mousemove)="onMouseMove($event)"
    >
      <div class="slider" #slider>
        <app-movie-card
          mode="trending"
          *ngFor="let data of data.trending"
          [movie]="data"
        ></app-movie-card>
      </div>
    </div>
  </section>
  <section class="recommended">
    <app-content-heading
      heading="Recommended for you"
      class="heading"
    ></app-content-heading>
    <div class="movies">
      <app-movie-card
        *ngFor="let data of data.recommended"
        [movie]="data"
      ></app-movie-card>
    </div>
  </section>
</ng-container>

<app-search-results
  [searchResults]="searchResults"
  [searchTerm]="searchTerm"
></app-search-results>
