<section class="container">
  <h2 class="heading">Sign Up</h2>
  <form (ngSubmit)="onSubmit()" class="form" [formGroup]="signupForm">
    <div class="inputs">
      <div class="input-box">
        <input
          type="text"
          placeholder="Email address"
          aria-label="email"
          formControlName="email"
          [formControl]="email"
          [ngClass]="{
            error: !!email.errors && email.touched
          }"
        />
        <span class="error-text" *ngIf="email.errors && email.touched">{{
          email.errors["email"]
            ? "Invalid email"
            : email.errors["required"]
            ? "Can't be empty"
            : "Error"
        }}</span>
      </div>
      <div class="input-box">
        <input
          type="password"
          placeholder="Password"
          aria-label="password"
          formControlName="password"
          [formControl]="password"
          [ngClass]="{
            error: !!password.errors && password.touched
          }"
        />
        <span
          class="error-text"
          *ngIf="!!password.errors && password.touched"
          >{{
            password.errors["required"]
              ? "Can't be empty"
              : password.errors["minlength"]
              ? "Too short"
              : "Error"
          }}</span
        >
      </div>
      <div class="input-box">
        <input
          type="password"
          placeholder="Repeat password"
          aria-label="repeat password"
          formControlName="repeat_password"
          [formControl]="repeat_password"
          [ngClass]="{
            error: !!repeat_password.errors && repeat_password.touched
          }"
        />
        <span
          class="error-text"
          *ngIf="!!repeat_password.errors && repeat_password.touched"
          >{{
            repeat_password.errors["required"]
              ? "Can't be empty"
              : repeat_password.errors["minlength"]
              ? "Too short"
              : repeat_password.errors["samePassword"]
              ? "Not the same"
              : "Error"
          }}</span
        >
      </div>
    </div>
    <p class="sign-up-error">{{ signUpError }}</p>
    <button
      class="button"
      type="submit"
      [disabled]="!signupForm.valid || loading"
    >
      {{ loading ? "Creating account" : "Create an account" }}
    </button>
  </form>
  <div class="change">
    <p>Already have an account?</p>
    <button (click)="goToLogin()" type="button">Login</button>
  </div>
</section>
