<div class="navbar">
  <nav>
    <picture class="logo">
      <img src="/assets/images/logo.svg" alt="app logo" />
    </picture>
    <menu class="nav-list">
      <app-nav-item link="/"><nav-home-icon></nav-home-icon></app-nav-item>
      <app-nav-item link="/movies"
        ><nav-movies-icon></nav-movies-icon
      ></app-nav-item>
      <app-nav-item link="/tv-series"
        ><nav-tv-series-icon></nav-tv-series-icon
      ></app-nav-item>
      <app-nav-item link="/bookmarks"
        ><nav-bookmarks-icon></nav-bookmarks-icon
      ></app-nav-item>
    </menu>
    <picture class="avatar">
      <img src="/assets/images/image-avatar.png" alt="placeholder avatar" />
    </picture>
  </nav>
</div>
