<div class="navbar">
  <nav>
    <picture class="logo">
      <img src="/assets/images/logo.svg" alt="app logo" />
    </picture>
    <menu class="nav-list">
      <app-nav-item link="/"><nav-home></nav-home></app-nav-item>
      <app-nav-item link="/movies"><nav-movies></nav-movies></app-nav-item>
      <app-nav-item link="/tv-series"
        ><nav-tv-series></nav-tv-series
      ></app-nav-item>
      <app-nav-item link="/bookmarks"
        ><nav-bookmarks></nav-bookmarks
      ></app-nav-item>
    </menu>
    <picture class="avatar">
      <img src="/assets/images/image-avatar.png" alt="placeholder avatar" />
    </picture>
  </nav>
</div>
