<app-layout>
  <app-searchbar
    class="search"
    placeholder="Search for movies or TV series"
    (searchData)="searchData($event)"
  ></app-searchbar>
  <section class="trending" *ngIf="!searchTerm">
    <app-content-heading
      heading="Trending"
      class="heading"
    ></app-content-heading>
    <div class="movies">
      <div class="slider">
        <app-movie-card
          mode="trending"
          *ngFor="let data of data.trending"
          [movie]="data"
        ></app-movie-card>
      </div>
    </div>
  </section>
  <section class="recommended" *ngIf="!searchTerm">
    <app-content-heading
      heading="Recommended for you"
      class="heading"
    ></app-content-heading>
    <div class="movies">
      <app-movie-card
        *ngFor="let data of data.recommended"
        [movie]="data"
      ></app-movie-card>
    </div>
  </section>
  <app-search-results
    [searchResults]="searchResults"
    [searchTerm]="searchTerm"
  ></app-search-results>
</app-layout>
